/* .cart-item {
    height: 120px;
}

.cart-item .buttons {
    display: inline-block;
    width: 240px;
    float: right;
}

.cart-item span {
    display: inline-block;
    width: 180px;
}

@media screen and (min-width: 1000px) {
    .cart-item {
        height: 85px;
    }
} */